* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

/* Header Section */
#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#header-logo {
  height: 50px;
  width: 50px;
  padding: 15px;
}

#header-links a {
  padding: 15px;
}

#header-links:hover > a {
  color: lightslategray;
}
#header-links a:hover {
  color: black;
}

#header-links a:active {
  transform: translate(5px);
  color: brown;
}

/* Photo Container Section */
.photo-container {
  position: relative;
  text-align: left;
  width: 100%;
  
}

.photo-container img {
  width: 100%;
}

.photo-container h1 {
  position: absolute;
  top: 20%;
  left: 7%;
  width: 50%;
  color: white;
  font-size: 50px;
}

#dot-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#dot-container > * {
  border-radius: 50%;
  background-color: lightgray;
  height: 10px;
  width: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 15px;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-bottom: 25px;
}

.main-container h2 {
  color: brown;
  font-size: 40px;
  text-align: center;
  margin: 10px;
}

.main-container p {
  text-align: left;
  width: 50%;
  align-self: center;
  margin: 10px;
}

#location-page .main-container p {
  text-align: center;
}

#chef-image {
  width: 600px;
  align-self: center;
  margin: 10px;
}

iframe {
  margin: 0 auto;
  height: 400px;
  width: 600px;
}

#home-page,
#location-page,
#menu-page {
  margin-bottom: 100px;
}
